/*
Theme Name : Bebop
Author : sophien helene
Author URI : http://bebopcafe-traiteur.fr
Description : Bebop theme
*/

/*!
* www.KNACSS.com V4.4.2 (24 décembre 2015) @author: Raphael Goetter, Alsacreations
* Licence WTFPL http://www.wtfpl.net/
*/
/*! normalize.css v3.0.2 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
ul,
ol {
  padding-left: 2em;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* == typography                 */
/* ----------------------------- */
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * .625);
}
body {
  font-size: 1.4rem;
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5;
}
a {
  color: #333;
}
a:hover,
a:focus,
a:active {
  color: #000;
}
/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}
h1,
.h1-like {
  font-size: 3.2rem;
  font-family: sans-serif;
}
h2,
.h2-like {
  font-size: 2.8rem;
  font-family: sans-serif;
}
h3,
.h3-like {
  font-size: 2.4rem;
}
h4,
.h4-like {
  font-size: 2rem;
}
h5,
.h5-like {
  font-size: 1.8rem;
}
h6,
.h6-like {
  font-size: 1.6rem;
}
/* alternate font-sizing */
.smaller {
  font-size: 0.6em;
}
.small {
  font-size: 0.8em;
}
.big {
  font-size: 1.2em;
}
.bigger {
  font-size: 1.5em;
}
.biggest {
  font-size: 2em;
}
code,
pre,
samp,
kbd {
  /* IE fix */
  white-space: pre-line;
  white-space: pre-wrap;
  font-family: consolas, courier, monospace;
  line-height: normal;
}
em,
.italic,
address,
cite,
i,
var {
  font-style: italic;
}
/* ----------------------------- */
/* == browsers consistency       */
/* ----------------------------- */
/* avoid top margins on first content element */
p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
.h1-like:first-child,
h2:first-child,
.h2-like:first-child,
h3:first-child,
.h3-like:first-child,
h4:first-child,
.h4-like:first-child,
h5:first-child,
.h5-like:first-child,
h6:first-child,
.h6-like:first-child {
  margin-top: 0;
}
/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}
/* margin-bottom on tables */
table {
  margin-bottom: 2rem;
}
/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */
/* module, gains superpower "BFC" Block Formating Context */
.mod,
.bfc {
  overflow: hidden;
}
/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
  clear: both;
}
/* blocks that must contain floats */
.clearfix::after,
.line::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}
/* simple blocks alignment */
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/* text and contents alignment */
.txtleft {
  text-align: left;
}
.txtright {
  text-align: right;
}
.txtcenter {
  text-align: center;
}
/* floating elements */
.fl {
  float: left;
}
img.fl {
  margin-right: 1rem;
}
.fr {
  float: right;
}
img.fr {
  margin-left: 1rem;
}
img.fl,
img.fr {
  margin-bottom: 0.5rem;
}
/* table layout */
.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.row > *,
.col {
  display: table-cell;
  vertical-align: top;
}
/* no table-cell for script tag when body is a .row */
body > script {
  display: none !important;
}
/* inline-block */
.inbl {
  display: inline-block;
  vertical-align: top;
}
/* flexbox layout
http://www.alsacreations.com/tuto/lire/1493-css3-flexbox-layout-module.html
*/
[class*="flex-container"],
.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-container-h {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-container-v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Responsive flex-container --- custom */
@media screen and (max-width: 640px) {
 .flex-container-small-v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
 }
}
/* --- */
.flex-item-fluid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-item-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.flex-item-medium {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.flex-item-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.flex-item-center {
  margin: auto;
}
/* ---------------------------------- */
/* ==Grillade                         */
/* ---------------------------------- */
/* grid container */
[class*="grid-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -2rem;
  /* inline-block fallback for IE9 generation */
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
/* grid childs */
[class*="grid-"] > * {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% * 1 / 4 - 2rem - .01px);
  margin-left: 2rem;
  /* inline-block fallback for IE9 generation */
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
}
[class*="grid-2"] > * {
  width: calc(100% * 1 / 2 - 2rem - .01px);
}
[class*="grid-2"] > .flex-item-double {
  width: calc(100% * 2 / 2 - 2rem - .01px);
}
[class*="grid-3"] > * {
  width: calc(100% * 1 / 3 - 2rem - .01px);
}
[class*="grid-3"] > .flex-item-double {
  width: calc(100% * 2 / 3 - 2rem - .01px);
}
[class*="grid-4"] > * {
  width: calc(100% * 1 / 4 - 2rem - .01px);
}
[class*="grid-4"] > .flex-item-double {
  width: calc(100% * 2 / 4 - 2rem - .01px);
}
[class*="grid-5"] > * {
  width: calc(100% * 1 / 5 - 2rem - .01px);
}
[class*="grid-5"] > .flex-item-double {
  width: calc(100% * 2 / 5 - 2rem - .01px);
}
[class*="grid-6"] > * {
  width: calc(100% * 1 / 6 - 2rem - .01px);
}
[class*="grid-6"] > .flex-item-double {
  width: calc(100% * 2 / 6 - 2rem - .01px);
}
[class*="grid-7"] > * {
  width: calc(100% * 1 / 7 - 2rem - .01px);
}
[class*="grid-7"] > .flex-item-double {
  width: calc(100% * 2 / 7 - 2rem - .01px);
}
[class*="grid-8"] > * {
  width: calc(100% * 1 / 8 - 2rem - .01px);
}
[class*="grid-8"] > .flex-item-double {
  width: calc(100% * 2 / 8 - 2rem - .01px);
}
[class*="grid-10"] > * {
  width: calc(100% * 1 / 10 - 2rem - .01px);
}
[class*="grid-10"] > .flex-item-double {
  width: calc(100% * 2 / 10 - 2rem - .01px);
}
[class*="grid-12"] > * {
  width: calc(100% * 1 / 12 - 2rem - .01px);
}
[class*="grid-12"] > .flex-item-double {
  width: calc(100% * 2 / 12 - 2rem - .01px);
}
/* Responsive grid */
@media (max-width: 640px) {
  [class*="-small-4"] > * {
    width: calc(100% * 1 / 4 - 2rem - .01px);
  }
  [class*="-small-4"] > .flex-item-double {
    width: calc(100% * 1 / 2 - 2rem - .01px);
  }
  [class*="-small-3"] > * {
    width: calc(100% * 1 / 3 - 2rem - .01px);
  }
  [class*="-small-3"] > .flex-item-double {
    width: calc(100% * 2 / 3 - 2rem - .01px);
  }
  [class*="-small-2"] > * {
    width: calc(100% * 1 / 2 - 2rem - .01px);
  }
  [class*="-small-2"] > .flex-item-double {
    width: calc(100% - 2rem - .01px);
  }
  [class*="-small-1"] > * {
    width: calc(100% - 2rem - .01px);
  }
  [class*="-small-1"] > .flex-item-double {
    width: calc(100% - 2rem - .01px);
  }
}
@media (max-width: 320px) {
  [class*="-tiny-2"] > * {
    width: calc(100% * 1 / 2 - 2rem - .01px);
  }
  [class*="-tiny-2"] > .flex-item-double {
    width: calc(100% - 2rem - .01px);
  }
  [class*="-tiny-1"] > * {
    width: calc(100% - 2rem - .01px);
  }
  [class*="-tiny-1"] > .flex-item-double {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-2-1 > *:nth-child(odd) {
  width: calc(66.66666666666666% - 2rem - .01px);
}
.grid-2-1 > *:nth-child(even) {
  width: calc(33.33333333333333% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-2-1 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-1-2 > *:nth-child(odd) {
  width: calc(33.33333333333333% - 2rem - .01px);
}
.grid-1-2 > *:nth-child(even) {
  width: calc(66.66666666666666% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-1-2 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-3-1 > *:nth-child(odd) {
  width: calc(75% - 2rem - .01px);
}
.grid-3-1 > *:nth-child(even) {
  width: calc(25% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-3-1 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-1-3 > *:nth-child(odd) {
  width: calc(25% - 2rem - .01px);
}
.grid-1-3 > *:nth-child(even) {
  width: calc(75% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-1-3 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-3-2 > *:nth-child(odd) {
  width: calc(60% - 2rem - .01px);
}
.grid-3-2 > *:nth-child(even) {
  width: calc(40% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-3-2 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-2-3 > *:nth-child(odd) {
  width: calc(40% - 2rem - .01px);
}
.grid-2-3 > *:nth-child(even) {
  width: calc(60% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-2-3 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-4-1 > *:nth-child(odd) {
  width: calc(80% - 2rem - .01px);
}
.grid-4-1 > *:nth-child(even) {
  width: calc(20% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-4-1 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.grid-1-4 > *:nth-child(odd) {
  width: calc(20% - 2rem - .01px);
}
.grid-1-4 > *:nth-child(even) {
  width: calc(80% - 2rem - .01px);
}
@media (max-width: 640px) {
  .grid-1-4 > *:nth-child(n) {
    width: calc(100% - 2rem - .01px);
  }
}
.pull {
  margin-right: auto;
}
.push {
  margin-left: auto;
}
/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */
table,
.table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}
.table {
  display: table;
}
#recaptcha_table,
table.table-auto {
  table-layout: auto;
}
td,
th {
  vertical-align: top;
  min-width: 2rem;
  cursor: default;
}
/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */
/* thanks to HTML5boilerplate,
* github.com/nathansmith/formalize and www.sitepen.com
*/
/* buttons */
.btn {
  display: inline-block;
}
/* forms items */
form,
fieldset {
  border: none;
}
input,
button,
select,
label,
.btn {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}
button,
input,
optgroup,
select,
textarea {
  color: #000;
}
label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
legend {
  border: 0;
  white-space: normal;
}
textarea {
  min-height: 5em;
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}
select {
  -webkit-appearance: menulist-button;
}
/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */
/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
::-webkit-input-placeholder {
  color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
.btn:focus,
input[type="button"]:focus,
button:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* unstyled forms */
button.unstyled,
input[type="button"].unstyled,
input[type="submit"].unstyled,
input[type="reset"].unstyled {
  padding: 0;
  border: none;
  line-height: 1;
  text-align: left;
  background: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button.unstyled:focus,
input[type="button"].unstyled:focus,
input[type="submit"].unstyled:focus,
input[type="reset"].unstyled:focus {
  box-shadow: none;
  outline: none;
}
/* ---------------------------------- */
/* ==state helpers                    */
/* ---------------------------------- */
/* invisible for all */
.is-hidden,
[hidden] {
  display: none;
}
/* hidden but not for an assistive technology like a screen reader, Yahoo! method */
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}
.is-disabled,
[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
ul.is-unstyled,
ul.unstyled {
  list-style: none;
  padding-left: 0;
}
/* ---------------------------------- */
/* ==visual helpers                   */
/* .. use them with parcimony !       */
/* ---------------------------------- */
/* blocks widths (percentage and pixels) */
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.3333%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w66 {
  width: 66.6666%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
.w50p {
  width: 50px;
}
.w100p {
  width: 100px;
}
.w150p {
  width: 150px;
}
.w200p {
  width: 200px;
}
.w300p {
  width: 300px;
}
.w400p {
  width: 400px;
}
.w500p {
  width: 500px;
}
.w600p {
  width: 600px;
}
.w700p {
  width: 700px;
}
.w800p {
  width: 800px;
}
.w960p {
  width: 960px;
}
.mw960p {
  max-width: 960px;
}
.w1140p {
  width: 1140px;
}
.mw1140p {
  max-width: 1140px;
}
.wauto {
  width: auto;
}
/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man,
.ma0 {
  margin: 0;
}
.pan,
.pa0 {
  padding: 0;
}
.mas {
  margin: 1rem;
}
.mam {
  margin: 2rem;
}
.mal,
[class*="mal-s"],
[class*="mal-t"] {
  margin: 4rem;
}
/* Responsive margins --- custom */
@media (max-width: 640px) {
  [class*="-small-mam"] {
    margin: 2rem;
  }
}
@media (max-width: 320px) {
  [class*="-tiny-mas"] {
    margin: 1rem;
  }
}
/* --- */
.pas {
  padding: 1rem;
}
.pam {
  padding: 2rem;
}
.pal,
[class*="pal"] {
  padding: 4rem;
}
/* Responsive paddings --- custom */
@media (max-width: 640px) {
  [class*="-small-pam"] {
    padding: 2rem;
  }
}
@media (max-width: 320px) {
  [class*="-tiny-pas"] {
    padding: 1rem;
  }
}
/* --- */
.mtn,
.mt0 {
  margin-top: 0;
}
.mts {
  margin-top: 1rem;
}
.mtm {
  margin-top: 2rem;
}
.mtl {
  margin-top: 4rem;
}
.mrn,
.mr0 {
  margin-right: 0;
}
.mrs {
  margin-right: 1rem;
}
.mrm {
  margin-right: 2rem;
}
.mrl {
  margin-right: 4rem;
}
.mbn,
.mb0 {
  margin-bottom: 0;
}
.mbs {
  margin-bottom: 1rem;
}
.mbm {
  margin-bottom: 2rem;
}
.mbl {
  margin-bottom: 4rem;
}
.mln,
.ml0 {
  margin-left: 0;
}
.mls {
  margin-left: 1rem;
}
.mlm {
  margin-left: 2rem;
}
.mll {
  margin-left: 4rem;
}
.mauto {
  margin: auto;
}
.mtauto {
  margin-top: auto;
}
.mrauto {
  margin-right: auto;
}
.mbauto {
  margin-bottom: auto;
}
.mlauto {
  margin-left: auto;
}
.ptn,
.pt0 {
  padding-top: 0;
}
.pts {
  padding-top: 1rem;
}
.ptm {
  padding-top: 2rem;
}
.ptl {
  padding-top: 4rem;
}
.prn,
.pr0 {
  padding-right: 0;
}
.prs {
  padding-right: 1rem;
}
.prm {
  padding-right: 2rem;
}
.prl {
  padding-right: 4rem;
}
.pbn,
.pb0 {
  padding-bottom: 0;
}
.pbs {
  padding-bottom: 1rem;
}
.pbm {
  padding-bottom: 2rem;
}
.pbl {
  padding-bottom: 4rem;
}
.pln,
.pl0 {
  padding-left: 0;
}
.pls {
  padding-left: 1rem;
}
.plm {
  padding-left: 2rem;
}
.pll {
  padding-left: 4rem;
}
/* ----------------------------- */
/* ==desktop and HD devices      */
/* ----------------------------- */
@media (min-width: 961px) {
  /* rules for big resources and big screens like: background-images, font-faces, etc. */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* style adjustments for high density devices */
}
/* ---------------------------------- */
/* ==Responsive large                 */
/* ---------------------------------- */
@media (min-width: 961px) {
  /* layouts for large screens */
  .large-hidden {
    display: none !important;
  }
  .large-visible {
    display: block !important;
  }
  .large-no-float {
    float: none;
  }
  .large-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .large-row {
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }
  .large-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for large screens */
  .large-w25 {
    width: 25% !important;
  }
  .large-w33 {
    width: 33.3333% !important;
  }
  .large-w50 {
    width: 50% !important;
  }
  .large-w66 {
    width: 66.6666% !important;
  }
  .large-w75 {
    width: 75% !important;
  }
  .large-w100,
  .large-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for large screens */
  .large-man {
    margin: 0 !important;
  }
}
/* ---------------------------------- */
/* ==Responsive medium                */
/* ---------------------------------- */
@media (min-width: 641px) and (max-width: 960px) {
  /* layouts for medium screens */
  .medium-hidden {
    display: none !important;
  }
  .medium-visible {
    display: block !important;
  }
  .medium-no-float {
    float: none;
  }
  .medium-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .medium-row {
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }
  .medium-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for medium screens */
  .medium-w25 {
    width: 25% !important;
  }
  .medium-w33 {
    width: 33.3333% !important;
  }
  .medium-w50 {
    width: 50% !important;
  }
  .medium-w66 {
    width: 66.6666% !important;
  }
  .medium-w75 {
    width: 75% !important;
  }
  .medium-w100,
  .medium-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for medium screens */
  .medium-man,
  .medium-ma0 {
    margin: 0 !important;
  }
}
/* ---------------------------------- */
/* ==Responsive small                 */
/* ---------------------------------- */
@media (min-width: 321px) and (max-width: 640px) {
  /* quick reset in small resolution and less */
  .w600p,
  .w700p,
  .w800p,
  .w960p,
  .mw960p {
    width: auto;
    float: none;
  }
  /* layouts for small screens */
  .small-hidden {
    display: none !important;
  }
  .small-visible {
    display: block !important;
  }
  .small-no-float {
    float: none;
  }
  .small-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .small-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }
  .small-col {
    display: table-cell !important;
    vertical-align: top !important;
  }
  /* widths for small screens */
  .small-w20 {
    width: 20% !important;
  }
  .small-w25 {
    width: 25% !important;
  }
  .small-w33 {
    width: 33.3333% !important;
  }
  .small-w40 {
    width: 40% !important;
  }
  .small-w50 {
    width: 50% !important;
  }
  .small-w66 {
    width: 66.6666% !important;
  }
  .small-w75 {
    width: 75% !important;
  }
  .small-w100,
  .small-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for small screens */
  .small-man,
  .small-ma0 {
    margin: 0 !important;
  }
  .small-pan,
  .small-pa0 {
    padding: 0 !important;
  }
}
/* ---------------------------------- */
/* ==Responsive tiny                  */
/* ---------------------------------- */
@media (max-width: 320px) {
  /* quick tiny resolution reset */
  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .w300p,
  .w400p,
  .w500p {
    width: auto;
    float: none;
  }
  .row {
    display: block !important;
    width: 100% !important;
  }
  /* layouts for tiny screens */
  .tiny-hidden {
    display: none !important;
  }
  .tiny-visible {
    display: block !important;
  }
  .tiny-no-float {
    float: none;
  }
  .tiny-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .tiny-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }
  .tiny-col {
    display: table-cell !important;
    vertical-align: top !important;
  }
  th,
  td {
    display: block;
    width: auto;
    text-align: left;
  }
  thead {
    display: none;
  }
  /* widths for tiny screens */
  .tiny-w25 {
    width: 25% !important;
  }
  .tiny-w33 {
    width: 33.3333% !important;
  }
  .tiny-w50 {
    width: 50% !important;
  }
  .tiny-w66 {
    width: 66.6666% !important;
  }
  .tiny-w75 {
    width: 75% !important;
  }
  .tiny-w100,
  .tiny-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for tiny screens */
  .tiny-man,
  .tiny-ma0 {
    margin: 0 !important;
  }
  .tiny-pan,
  .tiny-pa0 {
    padding: 0 !important;
  }
}
/* quick print reset */
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    width: auto;
    margin: auto;
    font-family: serif;
    font-size: 12pt;
  }
  p,
  .p-like,
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  h4,
  .h4-like,
  h5,
  .h5-like,
  h6,
  .h6-like,
  blockquote,
  ul,
  ol {
    color: #000;
    margin: auto;
  }
  .print {
    display: block;
  }
  .no-print {
    display: none;
  }
  /* no orphans, no widows */
  p,
  .p-like,
  blockquote {
    orphans: 3;
    widows: 3;
  }
  /* no breaks inside these elements */
  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }
  /* page break before main headers
  h1,
  .h1-like {
    page-break-before: always;
  }
  */
  /* no breaks after these elements */
  h1,
  .h1-like,
  h2,
  .h2-like,
  h3,
  .h3-like,
  caption {
    page-break-after: avoid;
  }
  a {
    color: #000;
  }
  /* displaying URLs
  a[href]::after {
    content: " (" attr(href) ")";
  }
  */
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: "";
  }
}
/* ----------------------------- */
/* ==misc rules                  */
/* ----------------------------- */
/* styling skip links */
.skip-links {
  position: absolute;
}
.skip-links a {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0.5em;
  background: black;
  color: white;
  text-decoration: none;
}
.skip-links a:focus {
  position: static;
  overflow: visible;
  clip: auto;
}
@media (max-width: 640px) {
  /* you shall not pass */
  div,
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  a {
    word-break: break-all;
  }
}
@media (max-width: 640px) {
  .no-wrapping {
    word-wrap: normal;
    -webkit-hyphens: manual;
       -moz-hyphens: manual;
        -ms-hyphens: manual;
            hyphens: manual;
  }
}
/* Google Gmap3 bug fix on images */
.gm-style img {
  height: 100%;
}
:not(.gm-style) img {
  height: auto;
}
.gm-style img,
.gmnoscreen img,
.gmnoprint img {
  max-width: none !important;
}
/* ----------------------------- */
/* ==minor stylings              */
/* ----------------------------- */
/* styling elements */
code,
kbd,
mark {
  border-radius: 2px;
}
kbd {
  padding: 0 2px;
  border: 1px solid #999;
}
code {
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.04);
  color: #b11;
}
pre code {
  padding: 0;
  background: none;
  color: inherit;
  border-radius: 0;
}
mark {
  padding: 2px 4px;
}
sup,
sub {
  vertical-align: 0;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
blockquote {
  position: relative;
  padding-left: 3em;
}
blockquote::before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 0;
  font-family: georgia, serif;
  font-size: 5em;
  line-height: 0.9;
  color: rgba(0, 0, 0, 0.3);
}
blockquote > footer {
  margin-top: .75em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}
blockquote > footer::before {
  content: "\2014 \0020";
}
q {
  font-style: normal;
}
q,
.q {
  quotes: "“\00a0" "\00a0”";
}
q:lang(fr),
.q:lang(fr) {
  quotes: "«\00a0" "\00a0»";
}
hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 1em 0 2em;
  padding: 0;
  border: 0;
  color: #ccc;
  background-color: #ccc;
}
/* tables */
table,
.table {
  border: 1px solid #ccc;
}
caption {
  padding: 1rem;
  color: #555;
  font-style: italic;
}
td,
th {
  padding: 0.3em 0.8em;
  border: 1px #aaa dotted;
  text-align: left;
}
/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */
/* Here should go your own CSS styles */
/* You can also link them with a LESS @import */
/* @import "my-styles.less"; */
/* ----------------------------- */
/* ==custom fonts                */
/* ----------------------------- */
@font-face {
 font-family: MarketingScript;
 src: url("fonts/marketing_script/MarketingScript.ttf");
}
/* For responsive menu icon */
@font-face {
 font-family: MenuIcon;
 src: url("fonts/icomoon.ttf");
}
/* ----------------------------- */
/* ==templating                  */
/* ----------------------------- */
#main_wrapper {
 background-color: #232323;
 color: #FFFFFF;
 font-family: Helvetica, Arial, sans-serif;
}
h1, h2 {
 font-family: MarketingScript;
}
h3 {
 color: #B4DC32;
}
/* Add lines on either sides of the heading */
h1 {
 display: inline-block;
 padding: 0 15px;
 position: relative;
}
h1:before, h1:after {
 background: #DDDDDD;
 content: "";
 display: block;
 height: 1px;
 position: absolute;
 top: 50%;
 width: 50%;
}
h1:before {
 right: 100%;
}
h1:after {
 left: 100%;
}
.big {
 font-weight: lighter;
}
.txt-dark-grey {
 color: #232323;
}
.txt-light-grey {
 color: #828282;
}
.txt-green {
 color: #B4DC32;
}
/* ----------------------------- */
/* ==menu                        */
/* ----------------------------- */
.menu-container-left,
.menu-container-right,
.menu-container-mobile  {
 background-color: #B4DC32;
 border-top: 5px solid #DBF782;
 width: 32%;
 z-index: 10; /* Above header */
}
.menu-container-mobile {
 display: none;
}
.menu-container-left .menu,
.menu-container-right .menu,
.menu-container-mobile .menu {
  list-style-type: none;
  padding: 0;
}
.menu-container-left .menu li,
.menu-container-right .menu li,
.menu-container-mobile .menu li {
  min-height: 50px;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container-left .menu li:hover,
.menu-container-right .menu li:hover,
.menu-container-mobile .menu li:hover {
 background-color: #DBF782;
}
.menu-container-left .menu a,
.menu-container-right .menu a,
.menu-container-mobile .menu a {
  color: #232323;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
 .menu-container-left,
 .menu-container-right {
  display: none;
 }
 .menu-container-mobile {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; /* Above interactive menu */
 }
 .menu-container-mobile::before {
  content: "\e600";
  color: #232323;
  cursor: pointer;
  font-family: MenuIcon;
  font-size: 2em;
  padding-left: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 /* Responsive menu */
 .menu-container-mobile .menu li {
  display: none;
 }
 .menu-container-mobile.expand .menu li {
  border-top: 5px solid #DBF782;
  display: block;
 }
}
/* ----------------------------- */
/* ==footer and contact and map  */
/* ----------------------------- */
#contact {
 position: relative;
 z-index: 25; /* Above interactive menu and below responsive menu */
}
@media screen and (max-width: 480px) {
 #contact {
  display: none;
 }
 section {
  margin-top: 60px !important; /* Compensate contact height */
  position: relative;
  z-index: 25; /* Above interactive menu and below responsive menu */
 }
}
footer {
 background-color: #393939;
}
#contact aside,
footer,
footer a, #contact a,
footer a:hover, #contact a:hover,
footer a:visited, #contact a:visited {
 color: #828282;
}
footer a, #contact a {
 text-decoration: none;
}
footer a:hover, #contact a:hover {
 text-decoration: underline;
}
/* For newsletter */
footer .wysija-submit-field {
 background-color: #B4DC32;
 border: none;
 border-bottom: 2px solid #DBF782;
 border-top: 2px solid #DBF782;
 color: #232323;
 cursor: pointer;
 display: inline-block;
 font-size: 0.9em;
 height: 100%;
 margin-right: 20px;
}
footer .widget_wysija .wysija-submit, .widget_wysija .wysija-paragraph {
 display: inline;
}
footer .allmsgs .updated { /* Should be the same as devis-notification-success */
 background-color: #B4DC32;
 border: 2px solid #DBF782;
 color: #232323;
 font-family: Helvetica, Arial, sans-serif;
}
footer .form-validation-field-0formError, footer .parentFormform-wysija-3, footer .formError {
 left: 0 !important;
 position: static;
}
footer .formError .formErrorContent { /* Should be the same as devis-notification-error */
 background-color: red; /* TODO */
 border: 2px solid red;
 color: #FFFFFF;
 font-family: Helvetica, Arial, sans-serif;
}
/* Map */
.map-container {
 background-color: #B4DC32;
 height: 480px;
 padding-top: 50px;
}
#map_canvas {
 height: 100%;
}
#map_canvas .overlay {
 background: transparent;
 position: absolute;
 height: 430px; /* iframe height - margin top */
 width: 100%;
}
/* ----------------------------- */
/* ==content                     */
/* ----------------------------- */
section {
 overflow: hidden; /* For heading lines not to add extra space on the right */ /* FIXME find another way? */
}
/* "Fait maison" label */
#presentation {
 background-image: url("images/fait_maison.png");
 background-position: top right;
 background-position-x: 95%;
 background-repeat: no-repeat;
 background-size: 130px;
}
/* (large screen only) */
@media screen and (max-width: 480px) {
 #presentation {
  background: none;
 }
}
/* ----------------------------- */
/* ==header                      */
/* ----------------------------- */
header {
 background-attachment: fixed;
 background-image: url("images/background_img.jpg");
 background-repeat: no-repeat;
 background-size: 100%;
 padding-bottom: 28%;	/* Depends on the width of the screen */								/* /!\ */
}
@media screen and (max-width: 1040px) {
 header {
  padding-bottom: 33.8%;
 }
}
@media screen and (max-width: 640px) {
 header {
  background-size: 127%;
  padding-bottom: 57.3%;
 }
}
@media screen and (max-width: 480px) {
 header {
  background-size: 165%;
  padding-bottom: 73.9%;
 }
}
/* ----------------------------- */
/* ==menus and sandwiches        */
/* ----------------------------- */
.bbMenu > div div,
.sandwiches li div:nth-of-type(2) {
 /* Vertically center menu items */
 margin-top: auto;
 margin-bottom: auto;
}
.bbMenu ul {
 list-style-type: none;
 padding: 0;
}
/* Price label */
.price {
 background-color: #B4DC32;
 border-radius: 50%;
 color: #232323;
 font-weight: bold;
 height: 75px;
 width: 75px;
}
.price div {
 display: inline-block;
 vertical-align: middle;
}
.price div:nth-of-type(1) {
 line-height: 75px;
}
.price div:nth-of-type(1), .menu_separator {
 font-size: 3em;
}
/* ----------------------------- */
/* ==caterer services and form   */
/* ----------------------------- */
.caterer-services {
 overflow: hidden;
}
.caterer-services .row h1:before,
.caterer-services .row:last-child h1:after {
 display: none;
}
.caterer-services .row h1:after {
 width: 1000%; /* So that the line is wide enough */
}
.caterer-services #total {
 line-height: 3.2em; /* For alignment with h1 */
}

/* ---------------
---  Interactive  ---
---      menu     ---
   --------------- */
#interactive_menu_div {
 margin-top: 5%;
 padding-bottom: 40%; /* Force 1:1 aspect ratio */
 position: absolute;
 top: 0;
 width: 100%;
}

#interactive_menu_div .centerer {
 display: inline-block;
 height: 100%;
 vertical-align: middle;
}

#interactive_menu_div .interactiveMenu-container {
 height: 100%;
 position: absolute;
 text-align: center;
 width: 100%;
}

#interactive_menu_div .interactiveMenu-container nav, #interactive_menu_div .interactiveMenu-container > nav > nav > div:nth-child(3) {
 background-color: #232323;
 border-radius: 50%;
 position: relative;
}

#interactive_menu_div .interactiveMenu-container > nav { /* Outer circle */
 height: 100%;
 margin: auto;
 width: 40%;
 z-index: 20; /* Above menu */
}

#interactive_menu_div .interactiveMenu-container > nav > nav { /* Middle circle */
 background-color: #B4DC32;
 display:inline-block;
 height: 75%;
 width: 75%;
}

#interactive_menu_div .interactiveMenu-container > nav > nav > div:nth-child(3) { /* Inner circle */
 display:inline-block;
 height: 70%;
 width: 70%;
}

#logo {
 display:inline-block;
 vertical-align: middle;
 width: 90%;
}

/* For responsivness */
.svg-container {
 position: absolute;
}

.svg-container, .svg-container svg {
 height: 100%;
 width: 100%;
}

#interactive_menu_div .interactiveMenu-container > nav text {
 fill: #828282;
}

#interactive_menu_div .interactiveMenu-container > nav > nav text,
#interactive_menu_div .interactiveMenu-container > nav .sophien-arc {
 fill: #232323;
}

#interactive_menu_div .interactiveMenu-container > nav > nav .sophien-arc {
 fill: #B4DC32;
}

#interactive_menu_div .interactiveMenu-container > nav .sophien-arc-hover,
#interactive_menu_div .interactiveMenu-container > nav .sophien-arc-selected {
 cursor: pointer;
 fill: #393939;
}

#interactive_menu_div .interactiveMenu-container > nav > nav .sophien-arc-hover,
#interactive_menu_div .interactiveMenu-container > nav > nav .sophien-arc-selected {
 cursor: pointer;
 fill: #DBF782;
}

#dynamic_container {
 color : #828282;
}

#dynamic_container h3 {
 color: #B4DC32;
 display: inline-block;
 font-family: Helvetica, Arial, sans-serif;
 font-weight: normal;
 margin-bottom: 10px;
 margin-right: 5px;
 margin-top: 10px;
 text-align: left;
}

#dynamic_content {
 display: inline-block;
 vertical-align: middle;
 width: 90%;
}

#dynamic_content ul {
 list-style-type: none;
 margin: auto;
 margin-bottom: 5px;
 margin-right: 20%;
}

#dynamic_content div.price {
 margin: auto;
}

/* Bug fix for clicking interactive menu items */
#interactive_menu_div nav {
 pointer-events: none;
}

#interactive_menu_div path {
 pointer-events: auto;
}

@media screen and (max-width: 1040px) {
 #interactive_menu_div {
  padding-bottom: 50%; /* Force 1:1 aspect ratio */
 }

 #interactive_menu_div .interactiveMenu-container > nav { /* Outer circle */
  width: 50%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav { /* Middle circle */
  height: 75%;
  width: 75%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav > div:nth-child(3) { /* Inner circle */
  height: 70%;
  width: 70%;
 }
}

@media screen and (max-width: 640px) {
 #interactive_menu_div {
  margin-top: 60px;
  padding-bottom: 70%; /* Force 1:1 aspect ratio */
 }

 #interactive_menu_div .interactiveMenu-container > nav { /* Outer circle */
  width: 70%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav { /* Middle circle */
  height: 75%;
  width: 75%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav > div:nth-child(3) { /* Inner circle */
  height: 70%;
  width: 70%;
 }
}

@media screen and (max-width: 480px) {
 #interactive_menu_div {
  font-size: 0.9em;
  padding-bottom: 90%; /* Force 1:1 aspect ratio */
 }

 #interactive_menu_div .interactiveMenu-container > nav { /* Outer circle */
  width: 90%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav { /* Middle circle */
  height: 75%;
  width: 75%;
 }

 #interactive_menu_div .interactiveMenu-container > nav > nav > div:nth-child(3) { /* Inner circle */
  height: 70%;
  width: 70%;
 }
}
